* {
  font-family: "Oswald", sans-serif;
  font-family: "Poppins", sans-serif;
}

.navbar-brand {
  font-weight: 700;
}

.navbar-brand span {
  font-weight: 500;
}

.bi-house {
  padding-right: 2px;
}

/* .card-body {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
} */

.card {
  /* position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;

  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box; */
  transition: 0.3s;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
}

.card-img-top {
  object-fit: cover;
  height: 150px;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 10px rgba(142, 142, 142, 0.47);
  /* outline: 1px solid cyan; */
}

i {
  font-size: 1.5rem;
}

p {
  font-size: 12px;
}

.product {
  object-fit: contain;
  transition: ease-in-out 0.3s;
  /* box-shadow: 0px 10px 10px rgba(61, 61, 61, 0.6); */
  background-color: transparent;
}
.product:hover {
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.go-back {
  margin-top: 6rem;
}

.product:active {
  transform: scale(1.1);
  /* box-shadow: 0px 20px 10px rgba(142, 142, 142, 0.47); */
}

a {
  text-decoration: none;
}

/*  */
.card2 {
  padding: 25px;
  margin: 0;
  height: 100%;
}

.form-card .pay {
  font-weight: bold;
}

.form-card input,
.form-card textarea {
  padding: 10px 8px 10px 8px;
  border: none;
  border: 1px solid lightgrey;
  border-radius: 0px;
  margin-bottom: 25px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 14px;
  letter-spacing: 1px;
}

.form-card input:focus,
.form-card textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none;
  font-weight: bold;
  border: 1px solid gray;
  outline-width: 0;
}

.btn-info {
  color: #ffffff !important;
}

/*Imaged Radio Buttons*/
.radio-group {
  position: relative;
  margin-bottom: 25px;
}

.radio {
  display: inline-block;
  width: 204;
  height: 64;
  border-radius: 0;
  background: lightblue;
  box-sizing: border-box;
  border: 2px solid lightgrey;
  cursor: pointer;
  margin: 8px 25px 8px 0px;
}

.radio:hover {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.radio.selected {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.4);
}
/*  */

.banner {
  height: 25rem;
  background-image: url("../css/banner.jpg");
  background-size: cover;
  background-position: center;
}

.img-thumbnail {
  max-height: 100px;
}

.basket-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  padding-right: 4rem;
  box-shadow: 0px 5px 10px rgba(142, 142, 142, 0.47);
  border-radius: 1rem;
}

.item-total {
  padding-right: 3rem;
}

.value-total {
  padding-right: 3rem;
}

.summary-img-thumbnail {
  max-height: 75px;
}

.totals {
  float: right;
  text-align: right;
}

.qty-text {
  text-align: center;
}
