* {
  font-family: "Oswald", sans-serif;
  font-family: "Poppins", sans-serif;
}

.navbar-brand {
  font-weight: 700;
}

.navbar-brand span {
  font-weight: 500;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
}

.card-img-top {
  object-fit: cover;
  max-height: 150px;
  min-width: 230px;
}

.card-img-actions {
  position: relative;
}

i {
  font-size: 1.5rem;
}

p {
  font-size: 12px;
}
