* {
  font-family: "Oswald", sans-serif;
  font-family: "Poppins", sans-serif;
}

.navbar-brand {
  font-weight: 700;
}

.navbar-brand span {
  font-weight: 500;
}

.bi-house {
  padding-right: 2px;
}

/* .card-body {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
} */

/* .card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;

  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
} */

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
}

.card-img-top {
  object-fit: cover;
}

i {
  font-size: 1.5rem;
}

p {
  font-size: 12px;
}

.product {
  object-fit: contain;
  transition: ease-in-out 0.3s;
  /* box-shadow: 0px 10px 10px rgba(61, 61, 61, 0.6); */
  background-color: transparent;
}
.product:hover {
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.go-back {
  margin-top: 6rem;
}

.product:active {
  transform: scale(1.1);
  /* box-shadow: 0px 20px 10px rgba(142, 142, 142, 0.47); */
}

a {
  text-decoration: none;
}
