{% extends 'store/main.html' %} {% load static %} {% block content %}
<!-- Go Back -->
<div class="container go-back">
  <a href="{% url 'index' %}" type="button" class="btn bg-cart m-0">
    <i class="bi bi-caret-left-fill"></i>
  </a>
</div>
<section class="container basket-main">
  <div class="basket-info">
    <div class="item-total">
      <h6>Items: <strong>{{ order.get_basket_items }}</strong></h6>
    </div>
    <div class="value-total">
      <h6>
        Total:
        <strong>£{{ order.get_basket_total|floatformat:2 }}</strong>
      </h6>
    </div>
    <div class="proceed-to-checkout">
      <a href="{% url 'checkout' %}" class="btn btn-dark">Checkout</a>
    </div>
  </div>
  <br />
  <!-- Basket Section -->
  <section class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Item</th>
          <th>Price</th>
          <th>Quantity</th>
          <th></th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}

        <tr>
          <td>
            <img
              src="{{item.product.product_image.url}}"
              alt="product-image"
              class="img-thumbnail"
            />
          </td>
          <td>{{ item.product }}</td>
          <td>£{{ item.product.product_price|floatformat:2 }}</td>
          <td class="qty">{{ item.quantity }}</td>
          <td>
            <div class="qty-adjust">
              <i
                data-product="{{item.product.product_id}}"
                data-action="add"
                class="bi bi-plus-circle update-basket"
              ></i
              ><i
                data-product="{{item.product.product_id}}"
                data-action="remove"
                class="bi bi-dash-circle minus update-basket"
              ></i>
            </div>
          </td>
          <td>£{{ item.get_total }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

  <!-- <table class="table table-responsive">
        <tr>
          <th scope="col">
            <h6>Items: <strong>{{ order.get_basket_items }}</strong></h6>
          </th>

          <th scope="col">
            <h6>
              Total:
              <strong>£{{ order.get_basket_total|floatformat:2 }}</strong>
            </h6>
          </th>
          <th scope="col">
            <a href="{% url 'checkout' %}" class="btn btn-dark">Checkout</a>
          </th>
        </tr>
      </table> -->
</section>

{% endblock content %}
