{% extends 'store/main.html' %} {% load static %} {% block content %}
<!-- Go Back -->
<div class="container go-back">
  <a href="{% url 'basket' %}" type="button" class="btn bg-cart m-0">
    <i class="bi bi-caret-left-fill"></i>
  </a>
</div>
<br />
<section class="container">
  <div class="row">
    <div class="col-lg-6 d-flex justify-content-center">
      <div class="checkout-form">
        <h4>Order Summary</h4>
        <br />
        <div>
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
              </tr>
            </thead>
            <tbody>
              {% for item in items %}

              <tr>
                <td>
                  <img
                    src="{{item.product.product_image.url}}"
                    alt="product-image"
                    class="summary-img-thumbnail"
                  />
                </td>
                <td>{{ item.product }}</td>
                <td>£{{ item.product.product_price|floatformat:2 }}</td>
                <td class="qty-text">{{ item.quantity }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <div class="totals">
            <h6>Items: {{ order.get_basket_items }}</h6>
            <h6>Total: {{ order.get_basket_total }}</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 form-card">
      <form id="form">
        <h4 id="heading2" class="text-primary">Shipping Information</h4>

        <br />
        <label class="pay">Full Name</label>
        <input
          required
          class="form-field"
          type="text"
          name="fullName"
          placeholder="John Smith"
        />
        <label class="pay">Email</label>
        <input
          required
          class="form-field"
          type="email"
          name="email"
          placeholder="johnsmith@email.com"
        />

        <label class="pay">Address Line</label>
        <input required class="form-field" type="text" name="addressLine" />

        <div class="row">
          <div class="col-4 col-md-6">
            <label class="pay">Town/City</label>
            <input required class="form-field" type="text" name="townCity" />
          </div>
          <div class="col-4 col-md-6">
            <label class="pay">Postcode</label>
            <input required class="form-field" type="text" name="postcode" />
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-4 col-md-6">
            <button class="btn btn-primary" id="form-button" type="submit">
              Continue
            </button>
          </div>
        </div>
      </form>

      <div class="box-element hidden" id="payment-info">
        <small>Paypal Options</small>
        <!--<button id="make-payment">Make payment</button>-->
        <div id="paypal-button-container">
          <button id="make-payment">Make Payment</button>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  const total = "{{order.get_basket_total}}";

  const form = document.getElementById("form");

  form.addEventListener("submit", function (e) {
    e.preventDefault();
    console.log("form submitted");
    document.getElementById("form-button").classList.add("hidden");
    document.getElementById("payment-info").classList.remove("hidden");
  });

  document
    .getElementById("make-payment")
    .addEventListener("click", function (e) {
      submitFormData();
    });

  function submitFormData() {
    console.log("payment button clicked");

    const userFormData = {
      fullName: form.fullName.value,
      email: form.email.value,
      addressLine: form.addressLine.value,
      townCity: form.townCity.value,
      postcode: form.postcode.value,
      total: total,
    };

    console.log(userFormData);

    const url = "/process_order/";
    fetch(url, {
      method: "POST",
      headers: { "Content-Type": "application/json", "X-CSRFToken": csrftoken },
      body: JSON.stringify({ form: userFormData }),
    })
      .then((response) => response.json())
      .then((data) => {
        console.log("Success: ", data);
        alert("Transaction successful");

        window.location.href = "{% url 'index' %}";
      });
  }
</script>
{% endblock content %}
