{% extends 'store/main.html' %} {% load static %} {% block content %}
<div class="container banner d-flex justify-content-center"></div>

<main class="py-5">
  {% if product_list %}
  <div class="container">
    <div
      class="row g-4 row-cols-1 row-cols-md-2 row-cols-xl-4 justify-content-between"
    >
      {% for product in product_list %}

      <!-- product list grid -->
      <div class="col-lg-3 col-md-6 col-sm-12">
        <!-- product cards -->
        <div class="card h-100 border-1 justify-content-between">
          <a
            href="{% url 'product' product.product_id %}"
            type="button"
            class="btn bg-cart m-0 p-0"
          >
            <div class="card-body p-0 m-0 border-1">
              <img src="{{ product.product_image.url }}" class="card-img-top" />
              <div class="product-name pb-1 pt-1">
                <h6 class="font-weight-semibold">{{ product.product_name }}</h6>
              </div>
              <div class="product-price-and-stock">
                <h5 class="mb-1 text-muted">£{{ product.product_price }}</h5>
                <p class="text-muted mb-1">
                  Quantity Available: {{ product.product_stock }}
                </p>
              </div>
            </div>
          </a>
          <div
            class="card-footer p-0 m-0 d-flex justify-content-center border-1"
          >
            <button
              data-product="{{product.product_id}}"
              data-action="add"
              type="button"
              class="btn bg-cart m-0 update-basket"
            >
              <i class="bi bi-bag-plus"></i>
            </button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <p>No stock available.</p>
  {% endif %}
</main>

{% endblock content %}
