{% extends 'store/main.html' %} {% load static %} {% block content %}
<!-- Go Back -->
<div class="container go-back">
  <a href="{% url 'index' %}" type="button" class="btn bg-cart m-0">
    <i class="bi bi-caret-left-fill"></i>
  </a>
</div>

<!-- Product Section -->
<section class="py-3">
  <div class="container d-flex justify-content-center">
    <div class="row gx-4 gx-lg-5">
      <div class="col-lg-6 col-md-12 d-flex mb-1">
        <img
          class="img-fluid rounded-3 product"
          src="{{ product.product_image.url }}"
          alt="..."
        />
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="small mb-1">#{{ product.product_id }}</div>
        <h2 class="display-5 fw-bolder">{{ product.product_name }}</h2>
        <h4 class="mb-5">£{{ product.product_price }}</h4>
        <p class="lead mt-3 mb-5">{{ product.product_description }}</p>
        <p class="small mb-1">
          Quantity Available: <strong>{{ product.product_stock }}</strong>
        </p>
        <div class="d-flex">
          <input
            class="form-control text-center me-3"
            id="inputQuantity"
            type="num"
            value="1"
            style="max-width: 3rem"
          />
          <button class="btn btn-outline-dark flex-shrink-0" type="button">
            <i class="bi-cart-fill me-1"></i>
            Add to Basket
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
